.mainCreate{
    position: relative;
    width: 100vw;
    height: 100vw;
    background: rgb(21,18,40);
}

.discription{
    position: absolute;
    width: 68%;
    height: 100vw;
    top: 0;
    left: 16%;
    background: black;

}

.imageDis{
    width: 100%;
    height: 100%;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    background: rgb(21,18,40);

}