.main{
    position: relative;
}
.head{
    position: absolute;
    width: 97%;
    left: 3%;
    height: 100px;
    background: rgb(102, 101, 101);
    padding-left: 1%;
}
.link1{
    position: absolute;
    color: rgb(91, 57, 155);
    font-size: 20px;
    right: 10px;
    transition: color 0.5s;
}

.roof{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 77px;
    top: 14px;
    border: 10px solid black;
    border-top: none;
    border-left: none;
    transform: rotate(-135deg);
    transition: background 0.5s;
    background: rgb(223, 154, 7);
}
.home{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 72px;
    top: 28px;
    border: 10px solid black;
    border-top: none;
    background: rgb(223, 154, 7);
    transition: background 0.5s;

}
.home:hover,.roof:hover{
    background: rgb(223, 39, 7);
    
}
.link1:hover{
    color: rgb(223, 39, 7);
}
.borderBottom{
    position: absolute;
    height: 0.4%;
    width: 100%;
    background: black;
}
.header{
    position: absolute;
    bottom: 15%;
}
.header2{
    position: absolute;
    bottom: 0;
}
.body{
    position: absolute;
    height: auto;
    width: 100%;
    top: 160px;
}
.product{
    position: relative;
    width: 100%;
    height: 45vw;
    background: rgb(231, 229, 229);
    left: 2%;
}

.imageHolderProduct{
    position: absolute;
    width: 30%;
    height: 52%;
    background: white;
    left: 0.15%;
    top: 0.15%;
}
.leftHandler{
    position: absolute;
    width: 3%;
    height: 2%;
    left: 0;
    top: 48%;
    border: 3% solid black;
    border-top: none;
    border-left: none;
    transform: rotate(135deg);
    transition: background 0.5s;
}
.leftHandler:hover{
    background: rgb(87, 85, 85);
    cursor: pointer;
}

.rightHandler{
    position: absolute;
    display: block;
    width:0;
    height: 0;
    right: 0;
    top: 48%;
    border:10% solid transparent;
    border-right-color: #ccc;
    border-left-width: 0;
    transform: rotate(405deg);
    transition: background 0.5s;
}
.rightHandler:hover{
    border-right-color: black;
    cursor: pointer;
}
.theme{
    position: absolute;
    top: 0;
    right: 17%;
    font-size: 1.2vw;

}

.productid{
    position: absolute;
    top: 16%;
    left: 60%;
    font-size: 1vw;
}
.productName{
    position: absolute;
    top: 8%;
    left: 60%;
    font-size: 2vw;
    text-transform: uppercase;
}
.type{
    position: absolute;
    top: 18%;
    left: 60%;
    font-size: 1.3vw;
}
.size{
    position: absolute;
    top: 27%;
    left: 45%;
    font-size: 1.2vw;
}
.metiriar{
    position: absolute;
    top: 31%;
    left: 45%;
    font-size: 1.2vw;
}
.color{
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 1.2vw;
}
.option{
    position: absolute;
    top: 39%;
    left: 45%;
    font-size: 1.2vw;
}
.usage{
    position: absolute;
    top: 47%;
    left: 45%;
    color: rgb(221, 160, 27);
    font-size: 1.3vw;
}
.specialUse{
    top: 52%;
    font-size: 1.2vw;
}
.price{
    position: absolute;
    top: 61%;
    left: 45%;
    font-size: 1.25vw;
}
.warranty{
    position: absolute;
    top: 64%;
    left: 45%;
    font-size: 1.25vw;
}
.delivery{
    position: absolute;
    top: 67%;
    left: 45%;
    font-size: 1.25vw;
}
.special{
    position: absolute;
    top: 75%;
    left: 50%;
    width: 30%;
    height: 13%;
    background: white;
    padding: 0 0 0 1%;
    font-size: 1vw;
}
.colorSymble{
    position: absolute;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 100%;
    background: rgb(8, 199, 8);
}
.symble1{
    left: 1%;
    top: 63.3%;
    
}
.symble2{
    left: 1%;
    top: 67.3%;
}
.symble3{
    left: 1%;
    top: 71.3%;
}
.symble4{
    left: 1%;
    top: 75.3%;
}
.benifit{
    position: absolute;
    top: 54%;
    left: 4%;
    font-size: 1vw;
}
.repay{
    top: 60.5%;
    color: red;

}
.change{
    top: 64.5%;
    color: red;

}
.afterwarrnty{
    top: 68.5%;
    color: red;

}
.discount{
    top: 72.5%;
    color: red;

}
.warantyfiread{
    position: absolute;
    color: black;
    font-size: 0.8vw;
    left: 16%;
    top: 69.5%;
}
.after{
    position: absolute;
    color: black;
    font-size: 0.8vw;
    left: 10%;
    top: 73.5%;
}
.half{
    position: absolute;
    color: red;
    font-size: 0.8vw;
    left: 16%;
    top: 73.5%;
}
.contact{
    position: absolute;
    top: 80%;
    left: 4%;
    font-size: 1vw;
}
.msg{
    position: absolute;
    top: 82.5%;
    left: 4%;
    color: rgb(245, 61, 61);
    font-size: 1vw;
}
.name{
    top: 60%;
    left: 1%;
    font-size: 1.2vw;
}
.address{
    top: 64%;
    left: 1%;
    font-size: 1.2vw;
}
.blackSymble{
    position: absolute;
    height: 12%;
    width: 0.15%;
    background: black;
    top: 32%;
    left: 44%;
}

.borderBottom2{
    bottom: 9%;
}
.madein{
    position: absolute;
    bottom: 1.29%;
    left: 4%;
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.design{
    position: absolute;
    bottom: 1.29%;
    left: 24%;
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quality{
    position: absolute;
    bottom: 1.29%;
    left: 48%;
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inventor{
    position: absolute;
    bottom: 1.29%;
    left: 72%;
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.colorBox{
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 30%;
    background: black;
    bottom: 3%;
}
.box1{
    
    left: 1%;
}
.box2{
    
    left: 21%;
}
.box3{
    
    left: 45%;
}

.box4{
    
    left: 69%;
}

.ball{
    position: absolute;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background: rgb(238, 137, 5);
    top: 12.5%;
    left: 12.5%;
}